.container-fluid {
    max-width: 1350px;
}

Header {
    text-align: center;
    margin: 50px 0;
}

article > h5 {
    text-align: center;
}

.build_section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.build_section div {
    display: flex;
}

.build_section img {
    max-width: 250px;
    width: 100%;
    overflow: hidden;
}

.build_section > div:hover > textarea{
    opacity: 1!important; /*I know -,-*/
  
}

.other_section {
    display: flex;
    flex-wrap: wrap;
}

.other_section div {
    height: 200px;
    width: 20%;
}

.other_section div > img{
    height: 100%;
}

.controllers {
    margin: 20px 0;
}

@media (max-width: 767.98px) {

    .container-fluid {
     
    }
}