html, body {
    width: 100%;
    height: 100%;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    max-width: 1350px;   
}

Header {
    text-align: center;
    margin: 20px 0;
}

article > h5 {
    text-align: left;
    font-size: 16px;
}

article a {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

h2 {
    margin: 0;
}

.build_section {
    display: flex;
    flex-direction: column;
}

.build_section div {
    display: flex;
    width: 40%;
    position: relative;
}

.build_section img {
    width: 100%;
    overflow: hidden;
}

.build_section .textAreaClass {
    display: block!important;
    position: absolute;
    bottom: 0;
    background: none;
    right: 0;
    color: white;
    width: 100%;
    resize: none;
}

.other_section {
    display: flex;
    flex-wrap: wrap;
}

.other_section div {
    width: 12.5%;
    height: unset;
}

.other_section div > img{
    height: 100%;
    width: 100%;
}

.controllers {
    margin: 5px 0;
}

.prewiev-inner {
   max-height: 550px;
    overflow-y: scroll;
    cursor: zoom-in;
    width: 540px;
}

.mirrorPreview {
    transition: 2s;
    width: 100%;
    position: absolute;
   /* backdrop-filter: contrast(30%);*/
    height: 100%;
    top: 0;
    text-align: center;
    background: rgba(0,0,0,0.6); 
    backdrop-filter: blur(6px); 
    overflow: hidden;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite; 
} 
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

@media (max-width: 890.98px) {


    .mirrorCanvasClass {
        width: 100%;
        padding-left: 15%;
    }
    .head {
        display: none;
    } 
    .prewiev-inner {
        width: 100%;
        max-height: 230px;
        transform: scale(0.8);   
    }
    .other_section div {
        width: 12.5vw;
        height: 12.5vw;
    }
    .other_section div > img {
        height: 100%;
    }
    .build_section {
        display: flex;
        flex-direction: column;
    }
    .preview_H5 {
        text-align: center;
    }
    .build_H5 {
        text-align: center;
    }
}

@media (max-width: 760.98px) {
    .preview_H5 {
        display: none;
    }
    .canvasClass {
        width: 100%;
    }
    .build_section {
        display: flex;
        flex-direction: unset;
        align-items: unset;
        justify-content: center;  
    }
}

