.container-fluid {
    display: flex;
    flex-direction: column;
    max-width: 1350px;
    padding: 0!important;
}

Header {
    text-align: center;
    margin: 20px 0;
}

article > h5 {
    text-align: left;
}

article a {
    cursor: pointer;
}

.build_section {
    display: flex;
    flex-direction: column;
}

.build_section div {
    display: flex;
}

.build_section img {
    max-width: 250px;
    width: 100%;
    overflow: hidden;
}

.build_section > div > textarea {
    opacity: 1!important; /*I know -,-*/
}

.other_section {
    display: flex;
    flex-wrap: wrap;
}

.other_section div {
    height: 100px;
    width: 10%;
 
}

.other_section div > img{
    height: 100%;
    width: 100%;
}

.controllers {
    margin: 20px 0;
}

.prewiev-inner {
   max-height: 550px;
    overflow-y: scroll;
    cursor: zoom-in;
    width: 540px;
}

.mirrorPreview {
    transition: 2s;
    width: 120%;
    position: absolute;
   /* backdrop-filter: contrast(30%);*/
    height: 120%;
    top: 0;
    text-align: center;
    background: rgba(0,0,0,0.6); 
    backdrop-filter: blur(6px); 
    overflow: hidden;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

@media (max-width: 890.98px) {

    .head {
        display: none;
    }

    
    .prewiev-inner {
        max-height: 500px;
    
    }

    .other_section div > img {
        height: 75%;
    }
}


@media (max-width: 760.98px) {
    .prewiev-inner {
        max-height: 400px;
    
    }
    .build_section {
        display: flex;
        flex-direction: unset;
        align-items: unset;
    
    }
}